body {
    background-image: linear-gradient(to right, rgba(10,1,3,1), rgb(83, 4, 14)),
                      linear-gradient(to right, rgb(83, 4, 14), rgba(10,1,3,1));
    
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
    transition: background-image 1s ease;
    background-clip: text;
    position: fixed;
    cursor: none;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(10,1,3,1), rgb(83, 4, 14));
                     -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.8));
    pointer-events: none;
    opacity: 1;
    -webkit-opacity: 0.75;
    z-index: 1;
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  

.everything {
    position: relative;
    width: 100vw;  
    height: 100vh;
    overflow: hidden;
  }
  
  .grid{
    display: grid;
    grid-template-columns: 300vh 300vh;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
@font-face {
    font-family: 'jenku';
    src: url(Jenku-Regular.otf);
}
.text-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  
  .text-container h1 {
    font-family: 'jenku';
    color: #fcc0c8;
    font-size: 100;
    margin: 0;
    padding: 1rem;
  }

  #jenkcontainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  #jenk {
    position: absolute;
    width: 6vh;
    height: 6vh;
    top: 7vh;
    left: 7vh;
    z-index: 10000;
  }
  
  #jenklook {
    position: relative;
  }
  
  .fade-transition {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .fade-transition.fade-out {
    opacity: 0;
  }

  .jenklooking {
    max-width: 80%;
    min-width: 65vh;
    max-height: 120%;
    min-height: 65vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
@media (max-width:600px) {
  img#jenk {
    display: none;
  }
}
